* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-rows: 1fr 5fr;
  grid-template-columns: 1fr 5fr;
  grid-template-areas:
    'dashboard header'
    'dashboard content';
  font-family: 'Inter', sans-serif;
}

.dashboard-component {
  grid-area: dashboard;
}

.header-component {
  grid-area: header;
}

.content-component {
  grid-area: content;
}

.svg-text {
  display: flex;
  align-items: center;
}

.svg-container {
  margin-right: 10px;
}
