* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(170, 168, 168);
}

.container {
  display: grid;
  grid-template-rows: 1fr 5fr;
  grid-template-columns: 1fr 5fr;
  grid-template-areas:
    'dashboard header'
    'dashboard content';
}
