:root {
  --dashboard-color: rgb(26 146 212);
  --header-color: rgb(255 255 255);
  --content-color: rgb(226 232 240);
  --card-highlight-color: rgb(241 180 41);
  --dashboard-font-color: rgb(255 255 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-rows: 1fr 5fr;
  grid-template-columns: 1fr 5fr;
  grid-template-areas:
    'dashboard header'
    'dashboard content';
  font-family: 'Inter', sans-serif;
  height: 100vh;
}

.dashboard-component {
  grid-area: dashboard;
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: var(--dashboard-color);
}

.header-component {
  grid-area: header;
}

.content-component {
  grid-area: content;
}

.svg-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  margin-left: 12px;
}

.dash-top .svg-text:first-of-type {
  margin-top: 20px;
}

.text {
  color: var(--dashboard-font-color);
}
